@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png");
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    font-size: 15pt;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: lemonchiffon;
    opacity: 0.1; /* 👈 adjust for subtlety */
    z-index: 0;
}

.wrapper {
    background: white;
    opacity: 0.9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-form {
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 15px;
    z-index: 1;
}
